@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
}


@layer components {
    .card {
       @apply 
        overflow-hidden w-44 h-64
        hover:scale-110
        border-2
        shadow-lg

    }
    
    
}

p,h1,h2,h3,h4,h5,button,span{
    /* -webkit-font-smoothing: antialiased; */
    text-rendering: optimizeLegibility;
}